html, body, #root, .App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #141415;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.PV-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 100%;
}

:root {
  --contador-color: green;
}

.color-cantidad--mitad {
  --contador-color: red;
}

.color-cantidad {
  font-weight: bold;
  color: var(--contador-color);
}

.PV {
  font-size: 60px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  text-align: center;
  padding: 0px;
  border: 0px solid black;
  width: 33.33%;
}

.PV-box {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.PV-box-element {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
}

.PV-box-element-center {
  justify-content: center;
}

.PV-box-element-flex-end {
  justify-content: flex-end;
}

.PV-box-element-space-around {
  justify-content: space-around;
}

.PV-buttons {
  border: 0px solid lightgrey;
  background-color: #fff;
  font-size: 20px;
  height: 2.5em;
  width: 2.5em;
  border-radius: 999px;
}

.PV-edit-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 30px;
  margin-bottom: 70px;
}

.PV-max-input {
  max-width: 70px;
  font-size: 25px;
}

.PV-header-table {
  font-size: 20px;
}

.PV-header-values {
  font-size: 30px;
}

.PV-edit-button-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.PV-descanso-button-container {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.exito-button {
  background-color: green;
  transition-duration: 1s;
}

.ec-button {
  color: green;
}

.minus-button {
  /*border: 2px solid #b51111;*/
  /*background-color: lightgrey;*/
}

.plus-button {
  /*border: 2px solid green;*/
}

.heart-counter {
  color: #b51111;
}

.descanso-button {
  background-color: #ffbf00;
}

.edit-button {
  background-color: #5757d3;
}